<footer>
        <article><svg width="100%" height="100%" viewBox="0 0 940 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1.5H940" stroke="white" stroke-width="2"/>
            </svg>
        </article>
    <article><div><i class="far fa-copyright"></i><p>Tristan Richard 2021</p></div>
        
        <div><i class="fas fa-envelope-open-text" id="icon"></i>
    <div class="border"><svg width="100%" height="100%" viewBox="0 0 940 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1.5H940" stroke="white" stroke-width="2"/>
        </svg>
        </div><a href="mailto:tristan3755@gmail.com">tristan3755@gmail.com</a></div>
        
        <div><i class="fas fa-mobile" id="icon"></i><div class="border"><svg width="100%" height="100%" viewBox="0 0 940 3" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 1.5H940" stroke="white" stroke-width="2"/>
            </svg>
            </div><a href="tel:0771822320">07/71/82/23/20</a></div></article>
</footer>
