
footer{
    margin-top: 150px;
    position: relative;
    min-height: 30vh;
    width: 100%;
    background-color: #111213;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer article:nth-child(1){
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer article:nth-child(2){
    min-height: 20vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
footer article:nth-child(2) div:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 5vh;
    margin: auto;
    padding: 15px;
    
}
footer article:nth-child(2)>*{
    color: white;
    font-size: 2vmin;
}
footer article:nth-child(2) p{
    font-family: 'Nunito', sans-serif;   
}
.border{
    width: 100px;
    height: 5px;
}
footer article:nth-child(2) div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 5vh;
    margin: auto;
    padding: 15px
}
#icon{
    color: white;
    font-size: 3.5vmin;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 2vmin;
}
@media(max-width:450px){
    a{
        font-size: 3vmin;
    }
    #icon{
       
        font-size: 4.5vmin;
    }
}
.france{
    width: 350px;
    max-width: 100%;
    height: 350px;
}
#ville:hover{
    cursor: pointer;
    animation: none;
}
#ville{
    animation:cercle linear infinite 2s;
}
@keyframes cercle {
    0%{
        fill: #F1C40F;
    }50%{
        fill: #CF2D1C;
    }100%{
        fill: #F1C40F;
    }
}
.nancy{
    
    opacity: 0;
    transition:ease-in-out 1s;
    
}
.nancyOn{
    opacity: 1;
    transition:ease-in-out 1s;
}
