section{
    background-color: #111213;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section article{
width: 350px;
max-width: 80%;
height: 8vh;
}