<section>
    <article>
        <div></div><div><p>{{titre}}</p></div>
    </article>
     <article><svg width="100%" height="100%" viewBox="0 0 565 565" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="282.5" cy="282.5" r="281" stroke="url(#paint2_linear)" stroke-width="3"/>
        <defs>
        <linearGradient  x1="133" y1="511.5" x2="450.5" y2="237.5" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3498DB"/>
        <stop offset="1" stop-color="#111213"/>
        </linearGradient>
        </defs>
        </svg>
        </article>
        <article></article>  
        <article></article>
        
</section>
