section{
    position: relative;
    background-color: #111213;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
section article:nth-child(1){
    width: 50%;
    height: 40vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
section article:nth-child(1) p{
    font-size: 4.5vmin;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
   animation: color linear infinite 12s;
 text-align: center;
}
@keyframes tourne2{
    to{
        transform: rotate(360deg);
    }
}

section article:nth-child(2){
  width: 40%;
  height: 60vh;
position: absolute;
  animation: tourne2 linear infinite 5s;
  background-image: url('../../assets/images/Group5.png');
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat; 
}

@keyframes color{
    0%{
        color:#111213;
    }   25%{
        color:#3498DB;
    }50%{
        color:#111213;
    }75%{
        color: #3498DB;
    }100%{
color: #111213;
    }
}
