<section>
    <article>
        <div></div><div><p>{{titre}}</p></div>
    </article>
     <article><svg width="100%" height="100%" viewBox="0 0 625 623" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M623.5 311.5C623.5 482.704 484.265 621.5 312.5 621.5C140.735 621.5 1.5 482.704 1.5 311.5C1.5 140.296 140.735 1.5 312.5 1.5C484.265 1.5 623.5 140.296 623.5 311.5Z" stroke="url(#paint2_linear)" stroke-width="3"/>
        <defs>
        <linearGradient id="paint0_linear" x1="380.366" y1="623" x2="532.621" y2="249.802" gradientUnits="userSpaceOnUse">
        <stop stop-color="#3498DB"/>
        <stop offset="0.728563" stop-opacity="0"/>
        </linearGradient>
        </defs>
        </svg>
        
        
        </article>
        <article></article> 
        <article></article>
</section>
