body {
  margin: 0;
  padding: 0;
  background-color:#1e272e;
}
body::-webkit-scrollbar{
    background-color:black;
width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color:rgb(204, 204, 204);
    border-radius: 50px;
    }
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@keyframes load {
  20% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
    display: none;
  }
}
section:nth-child(1) {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #1e272e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section:nth-child(1) article:nth-child(1) {
  height: 35vh;
  width: 100%;
}
section:nth-child(1) article:nth-child(2) {
  position: absolute;
  width: 40%;
  height: 40vh;
  top: 0;
  right: 0;
  background-image: url("./images/tache.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.c {
  transform: translateX(calc(var(--x) / 155)) translateY(calc(var(--y) / 205));
}
section:nth-child(1) header {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
section:nth-child(1) header div a {
  text-decoration: none;
  color: white;
  font-size: 2.5vmin;
  font-family: "Raleway", sans-serif;
  padding: 10px;
  border-radius: 50px;
  width: 150px;
  max-width: 80%;
  text-align: center;
}
section:nth-child(1) header div {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50px;
  transition: ease-in-out 1s;
}
section:nth-child(1) header div a:hover {
  cursor: pointer;
}
section:nth-child(1) header div:hover {
  background: linear-gradient(109.79deg, #833ab4 0%, #fd1d1d 87.58%);
  width: 150px;
}
@media(max-width:500px){
  section:nth-child(1) header div a {
    font-size: 3.5vmin;
    width: 60px;
  }
  section:nth-child(1) header div{
    width: 60px;
  }
  section:nth-child(1) header div:hover {
  background: none;
  width: 60px;
  }
}
/*section2*/
section:nth-child(2) {
min-height: 260vh;
width: 100%;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content:space-evenly;
background-color:  whitesmoke;
}

section:nth-child(2) article:nth-child(2){
width: 100%;
height: 110vh;
position: relative;
}
section:nth-child(2) article:nth-child(2) h2{
  color: white;
  font-size: 6.5vmin;
  font-family: 'Cormorant Garamond', serif;
  width: 500px;
  max-width: 80%;
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}
  section:nth-child(2) article:nth-child(2) .button{
    color: whitesmoke;
    font-size: 2.5vmin;
    font-family: 'Cormorant Garamond', serif;
    width: 250px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 5%;
    z-index: 2;
    background-color:transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 1s;
    border: white solid 1px;
    font-weight: bold;
  }
  @media(max-width:500px){
    section:nth-child(2) article:nth-child(2) .button{
      font-size: 4.5vmin;
    }
  }
  section:nth-child(2) article:nth-child(2) .button:hover{
    cursor: pointer;
    background-color: #05c46b;
    transform: scale(1.1);
  }
#vid{
  position: absolute;
  content: '';
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.voile{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: black;
  opacity: 0.4;
}
section:nth-child(2) article{
width: 80%;
min-height: 80vh;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-evenly;
}

section:nth-child(2) article .border{
  height: 1px;
  width: 20%;
  background-color:#1e272e ;
  position: relative;
  z-index: 1;
}
section:nth-child(2) article h1{
    color: #1e272e;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    z-index: 1;
}
section:nth-child(2) article p{
   width: 90%;
    color: #485460;
    font-size: 3.5vmin;
    letter-spacing: 5px;
    line-height: 55px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
}
@media(max-width:500px){
section:nth-child(2) article p{
  font-size: 3.5vmin;
  letter-spacing: 5px;
  line-height: 25px;
}
}
@media(max-width:320px){ 
  section:nth-child(2) article p{
    font-size: 3.5vmin;
    letter-spacing: 5px;
    line-height: 20px;
  }
  }
section:nth-child(2) article:nth-child(3){
  width: 80%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  }
section:nth-child(2) article:nth-child(3) .border{
  height: 1px;
  width: 20%;
  background-color:#1e272e ;
}
section:nth-child(2) article:nth-child(3) h1{
    color: #1e272e;
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    letter-spacing: 2px;
    text-align: center;
}
section:nth-child(2) article:nth-child(3) p{
   width: 90%;
    color: #485460;
    font-size: 3.5vmin;
    letter-spacing: 5px;
    line-height: 55px;
    font-family: 'Raleway', sans-serif;
}
@media(max-width:500px){
  section:nth-child(2) article:nth-child(3) p{
    font-size: 3.5vmin;
    letter-spacing: 5px;
    line-height: 25px;
  }
  }
/*grid*/
#grid {
  height: 150vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #1e272e;
}
#grid article {
  width: 100%;
  height: 50%;
}
#grid article:nth-child(1) {
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}
#grid article:nth-child(1) div:nth-child(1) {
  background-image: url("./images/peinture.jpg");
  background-size: cover;
  transition: ease-in-out 2s;
  position: relative;
}
#grid article:nth-child(1) div:nth-child(2) {
  position: relative;
  background-image: url("./images/sculpture.jpg");
  background-size: cover;
  transition: ease-in-out 2s;
}
#grid article:nth-child(1) div:hover {
  cursor: pointer;
  background-position: center;
}
#grid article:nth-child(2) {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  grid-gap: 2px;
}
#grid article:nth-child(2) div:nth-child(1) {
  background-image: url("./images/architecture.jpg");
  background-size: cover;
  background-position: center;
  transition: ease-in-out 2s;
  position: relative;
}
#grid article:nth-child(2) div:nth-child(2) {
  background-image: url("./images/arts.jpg");
  background-size: cover;
  transition: ease-in-out 2s;
  position: relative;
}
#grid article:nth-child(2) div:hover {
  cursor: pointer;
  background-position: bottom;
}
#grid article:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
  margin-top: 2px;
}
#grid article:nth-child(3) div:nth-child(1) {
  background-image: url("./images/artisanat.jpg");
  background-size: cover;
  background-position: top;
  transition: ease-in-out 2s;
  position: relative;
}
#grid article:nth-child(3) div:hover {
  cursor: pointer;
  background-position: center;
}
@media(max-width:500px){
  #grid {
  height: 60vh;
  }
  #grid article{
    height:33%;
    width: 100%;
    }
}
/*titre categories*/
#grid article div p {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 4.5vmin;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}
/*section article*/
#sectArticle {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e272e;
}
#sectArticle h1 {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 4.5vmin;
  text-transform: uppercase;
  align-self: flex-start;
  margin-top: 100px;
  margin-left: 100px;
}
#slider{
  width: 100%;
  min-height: 80vh;
  display: flex;
  overflow: hidden;
  align-items: center;
}
.carteArticle{
  height: 70vh;
  width: 23vw;
  background-color: #1a2125;
  margin-left:1.5vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition: ease-in-out 1s;
}
.carteArticle:hover {
 cursor: pointer;
 transform: translateY(-20px);
}
.carteArticleHead{
    width: 23vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.carteArticleHeadImg{
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: relative;
  margin: 10px;
  background-image:url("./images/omid.jpg");
  background-position: center;
  background-size: cover;
}
.carteArticleHeadImg img{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
 }
.carteArticleHeadDate{
color: whitesmoke;
font-family: 'Raleway', sans-serif;
font-size: 3vmin;
text-align: center;
margin: 10px;
}
 
.carteArticleHeadImg2{
  position: relative;
  width: 100%;
  height: 40vh;
  background-image:url("./images/enzo.jpg");
  background-position: center;
  background-size: cover;
}
.carteArticleHeadImg2 img {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sectArticle article .carteArticle div:nth-child(3) {
    width: 23vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#sectArticle article .carteArticle div:nth-child(3) p {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 4vmin;
}
@media(max-width:800px){
  #slider {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    align-items: center;
   justify-content: unset;
   min-height: 80vh;
}
.carteArticleHead{
    width: 300px;
}

#sectArticle article .carteArticle div:nth-child(3){
    width: 300px;
}
.carteArticle {
    margin:10px;
    width: 300px;
  }
}
#sectArticle article::-webkit-scrollbar{
    width: 0;
}
/*inscription*/
.blocInscription{
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #1e272e;
    animation: inscription linear forwards 1s;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.blocInscription input{
  width: 300px;
  max-width: 80%;
  height: 50px;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color:#f53b57;
  color: white;
  font-family: 'Raleway', sans-serif;
  transition: ease-in-out 1s;
}
.blocInscription input:hover{
  cursor: pointer;
}
.boutonInscriptionFormulaire:hover{
  cursor: pointer;
  transform: scale(1.1);
  background-color:#0be881;
}
.boutonInscriptionFormulaire{
  width: 200px;
  max-width: 80%;
  height: 50px;
  background-color: #f53b57;
  color: white;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  transition: ease-in-out 1s;
}
@keyframes inscription{
    from{
        transform: translateY(-100%);   
    }
}
.bontonFermeture{
position: absolute;
top: 30px;
right: 20px;
background-image: url('./images/fermeture.png');
background-position: center;
background-size: contain;
background-repeat: no-repeat;
width: 80px;
height: 80px;
transition: ease-in-out 0.5s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.bontonFermeture:hover{
cursor: pointer;
transform: scale(1.2);
}
/*control*/
#control{
  width: 100%;
  height: 20vh;
  background-color:#1e272e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
#sliderControl{
    width: 20%;
    height:20vh;
    background-color:#1e272e;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
}
.boutonScroll{
  transition: ease-in-out 0.2s;
}
.boutonScroll:hover{
    cursor: pointer;
    transform: scale(1.2);
}
@keyframes slide{
0%{
transform: translateX(0px);
}50%{
    transform: translateX(20px);
}100%{
    transform: translateX(0px);
}
}
@media(max-width:800px){
  #sliderControl{
    display: none;
  }
}
/*footer*/
footer{
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.borderFooter{
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: whitesmoke;
  top: 0;
}
footer article:nth-child(2){
  width: 200px;
  height: 150px;
}
footer p{
  color: whitesmoke;
font-family: 'Raleway', sans-serif;
font-size: 2vmin;
text-align: center;
}
.buttonContact{
  color: white;
  font-size: 2.5vmin;
  font-family: 'Cormorant Garamond', serif;
  width:200px;
  height: 50px;
  background-color:transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 1s;
  border: white solid 1px;
}
@media(max-width:500px){
  .buttonContact{
    font-size: 4.5vmin;
  }
}
.buttonContact:hover{
  cursor: pointer;
  background-color: #ff5e57;
  transform: scale(1.1);
}
footer a:nth-child(5){
  width: 50px;
  height: 50px;
  animation: up linear infinite 2s;
}
footer a:nth-child(5):hover{
  cursor: pointer;
}
@keyframes up{
0%{
transform: translateY(0);
}50%{
  transform: translateY(20px);
}100%{
  transform: translateY(0);
}
}
/*pointSlider*/
.point1,.point2,.point3{
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
/* menumobile*/
#navMobile{
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  bottom: 0;
  right: 10px;
  z-index: 10;
}
#menuMobile{
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 20vh;
  right: 10px;
  height: 0vh;
  width: 80px;
  z-index: 10;
  opacity: 0;
  animation: show linear forwards 1s;
}
@keyframes show{
  to{
    height: 60vh;
    opacity: 1;
  }
}
#menuMobile div{
  width: 80px;
  height: 80px;
}
#menuMobile a{
  width: 80px;
  height: 80px;
}
@media(max-width:600px){
  #nav{
    display: none;
  }
  #navMobile{
    display: flex;
  }
  footer a{
    display: none;
  }
}