<section>
  <article>
    <div></div>

    <span class="border"></span>

    <p>
      L'User Interface est le design de l'application. Ce design se doit d'être
      innovant, percutant, sobre et moderne afin d'accompagner au mieux
      l'utilisateur dans sa navigation.
    </p>
  </article>
  <article>
    <div></div>
    <span class="border"></span>
    <p>
      L’User Experience est le design des fonctionnalitées, elles se doivent
      d’êtres intuitives pour optimiser l’utilisation de l’application.
    </p>
  </article>
  <article>
    <div></div>
    <span class="border"></span>
    <p>
      J’ai à coeur d’optimiser mon code au maximum afin de le rendre léger et
      rapide. Dans cette optique j'utilise en priorité du javascipt et css natif. 
      Angular, express et NodeJs sont les seuls frameworks que j’utilise. Je suis en cours d'apprentissage de Vue.js.
    </p>
  </article>
  <div class="bulle1"></div>
  <div class="bulle2"></div>
  <div class="bulle3"></div>
</section>
