<section>
    <article>
    <div>
        <img [src]="image1">
    </div>
    <div>
        <img [src]="image2">
    </div>
    <div>
        <img [src]="image3">
    </div>
    <div>
        <img [src]="image4">
    </div>
    <div>
        <img [src]="image5">
    </div>
    <div>
        <img [src]="image6">
    </div>
    <div>
        <img [src]="image7">
    </div>
    <div>
        <img [src]="image8">
    </div>
    <div>
        <img [src]="image9">
    </div>
    <div>
        <img [src]="image10">
    </div>
</article>
</section>
