<section id="qui">
  <article>
    <h1>Développeur Full-Stack Javascript</h1>
    <div><svg width="100%" height="100%" viewBox="0 0 561 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 2H560.5" stroke="#111213" stroke-width="3"/>
      </svg>
      </div>
    <p>
      Ancien professionnel du monde de la culture et des arts, je me suis
      reconverti dans le metier de developpeur web afin d'allier mes deux
      passions:l'art et l'informatique. Ayant continué à développer mes compétences, 
      je suis devenu développeur Full-Stack spécialisé en Javascript.Côté Back-end je sais réaliser une API REST avec Node.JS et express.
      Côté Front-End je sais réaliser une application web Responsive Design, tout en travaillant au mieux l' UI et l'UX. 

    </p>
  </article>
  <article><img [src]="getImage()" /></article>
</section>
