<section>
  <article>
    <h1>Développeur front-end, à la confluence de l'art et de la téchnologie</h1>
    <div><svg width="100%" height="100%" viewBox="0 0 561 4" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.5 2H560.5" stroke="#111213" stroke-width="3"/>
      </svg>
      </div>
    <p>
      Ancien professionnel du monde de la culture et des arts, je me suis
      reconverti dans le metier de developpeur web afin d'allier mes deux
      passions:l'art et l'informatique.
    </p>
  </article>
  <article><img [src]="getImage()" /></article>
</section>
