section{
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
}
section article:nth-child(1){
    position: relative;
    background-color: white;
    min-height: 40vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 3.2vmin;
    width: 50%;
}
div{
    width: 20%;
    height: 4px;
}
section article:nth-child(1) p{
    font-family: 'Nunito', sans-serif;
    color: black;
    font-size: 2.8vmin;
    width: 50%;
}
section article:nth-child(2){
    position: relative;
    background-color: #111213;
    min-height: 40vh;
    width: 30%;
}
img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
}