body{
    margin: 0;
    padding: 0;
   background-color:#111213;  
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb {
    background-color: #111213;
    background-image: url("./assets/images/thumb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  body::-webkit-scrollbar {
    background-color: #111213;
    background-image: url("./assets/images/scroll.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
  }