section{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 18, 19, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section article:nth-child(1){
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top:10px;
    left: 10px;
}
section article:nth-child(1) p{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 2.5vmin;
    margin: 4px;
}
section article:nth-child(1) p:nth-child(1){
  color: #CF2D1C;
}
section article:nth-child(1) p:nth-child(3){
    color: #CF2D1C;
  }
  section article:nth-child(2){
      position: absolute;
      left: 10px;
      bottom:20px;
      width: 50px;
      height: 200px;
  }
  section article:nth-child(3){
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    right: 10px;
    bottom:10px;
}
section article:nth-child(3) p{
color: white;
margin: 10px;
font-size: 2.5  vmin;
font-family: 'Nunito', sans-serif;
}
section article:nth-child(3) p:nth-child(1){
    color:#2ECC71;
}
section article:nth-child(4){
    height: 60vh;
    width: 400px;
    max-width: 60%; 
    animation: tourne linear infinite 10s;  
}
@media(max-width:450px){
    section article:nth-child(4){
        height: 30vh;
} 
}
@keyframes tourne{
    to{
        transform: rotate(360deg);
    }
}