section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(17, 18, 19, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section article:nth-child(1){
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    top:10px;
    left: 10px;
}
section article:nth-child(1) p{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 2.5vmin;
    margin: 4px;
}
section article:nth-child(1) p:nth-child(1){
  color: #CF2D1C;
}
section article:nth-child(1) p:nth-child(3){
    color: #CF2D1C;
  }
  section article:nth-child(2){
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top:10px;
    right: 10px;
    height: 150px;
}
section article:nth-child(2) a{
    text-decoration: none;
    color: white;
    font-size: 1.8vmin;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    opacity: 0.7;
}
section article:nth-child(2) a:hover{
    opacity: 1;
    cursor: pointer;
}
  section article:nth-child(3){
      position: absolute;
      left: 10px;
      bottom:20px;
      width: 50px;
      height: 300px;
  }
  section article:nth-child(4){
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    right: 10px;
    bottom:10px;
}
section article:nth-child(4) p{
color: white;
margin: 10px;
font-size: 3vmin;
font-family: 'Nunito', sans-serif;
}
section article:nth-child(4) p:nth-child(1){
    color:#2ECC71;
    font-size: 3vmin;
}

section article:nth-child(5){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    width: 800px;
    max-width: 85%; 
    
}

@keyframes tourne{
   
    to{
        transform: rotate(360deg);
    }
}
@keyframes tourneInverse{
    to{
        transform: rotate(-360deg);
    }
}
section article:nth-child(5) div:nth-child(1){
    position: absolute;
    width: 45%;
    height: auto;
    animation: tourne infinite linear 3s;
   
    
}
section article:nth-child(5) div:nth-child(2){
    position: absolute;
    width: 50%;
    height: auto;
    animation: tourneInverse infinite linear 7s;
    
}
section article:nth-child(5) div:nth-child(3){
    position: absolute;
    width: 70%;
    height: auto;
    animation: tourne infinite linear 15s;
    
}
section article:nth-child(5) div:nth-child(4){
    position: absolute;
    width: 80%;
    height: auto;
    animation: tourneInverse infinite linear 5s;
     
}
/******************menu******************/
.menuOn{
 position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0%;
    background-color: #111213;
    z-index: 10;
    opacity: 0;
    animation: open linear forwards 1s;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@keyframes open{
    to{
        width: 100%;
        opacity: 0.8;
    }
}
#cross{
    font-size: 5vmin;
    color: white;
    top: 15px;
    right: 15px;
    position: absolute;
}
#cross:hover{transform:scale(1.1);
    cursor: pointer;
}
.menuOff{
display: none;  
}

.border1{
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: white;
    left: 80px;
    opacity: 0.8;
}
.border2{
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    bottom: 80px;
    opacity: 0.8;
}
@media(max-width:500px){
.border1{
    left: 30px;
}
.border2{
    bottom: 30px;
}
}
.savoir{
    color: white;
    font-size: 2.7vmin;
    font-family: 'Nunito', sans-serif;
    width: 700px;
    max-width: 70%;
    height: auto;
    letter-spacing: 3px;
    animation: fade linear forwards 5s;
    opacity: 0;
}
@keyframes fade{
    to{
        opacity: 1;
    }
}
@media(max-width:450px){
    .savoir{
        font-size: 3.5vmin;
        max-width: 77%;
       margin-left: 15px;
    }
    section article:nth-child(1) p{
        font-size: 3.5vmin;
    }
    section article:nth-child(2) a{
        font-size: 2.8vmin;
    }
}
